* {
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
}

body {
    padding: 0em 2em;
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    margin:0;
    height: 100%;
    
}
main{
    flex: 1 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 1rem;
}

.logo span {
    color: #B70E21;
}

/*FORMULARIO DE CONTACTO*/

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .4em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* RESPONSIVE CONTACTO */
@media(min-width: 700px) {
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
   
}


/* INFO DE CONTACTO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/******MENU PRINCIPAL******/
.menu ul{
	list-style-type: none; 
	padding: 0;
	margin:0;
	background: hsl(0, 0%, 15%);
}

.menu li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: .4em 1em; 
}

.menu li a:hover{
	background: hsl(0, 0%, 25%);
    color: red;
}

.menu-simple ul{
 	display: flex;  
 	flex-wrap: wrap;
 	justify-content:space-between;
 }					

/*Como hago para que no me quede espacio entre botones?*/
 .menu-simple li{
 	flex:1 0 auto;/*si hay espacio disponible crece en 1 , si no , se queda en cero  , y si es menor es auto*/
 	text-align: center;/*alineo las palabras de los botones*/

 }
 .menu-simple h3{
     display: flex;
     background: hsl(0, 0%, 15%);
 }

 /*MAPA (LEAFLET)*/
 #map{
	width: 100%;
    height: 480px;
    color:#000;
    border: #000 solid 2px;
}

 #map > * {
    padding: 1em;
 }

 .legend {
    font-size: 1rem;
    display: flexbox;
   	padding: 0.3rem;
	background-color: rgb(233, 229, 229);
	line-height: 15px;
    color: black;
	opacity: 1;
	fill-opacity: 1;
}
.legend i {
   	border-radius: 25px;
	width: 11px;
    height: 11px;
    float: left;
    margin-right: 4px;
    opacity: 1;
	color: white;
	fill-opacity: 1.0;
}

/******MAPAS*****/

.tarjeta{
	background: black;
	margin-bottom: 1em;
	width: 33%;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tarjeta a{
	color: white;
	text-decoration: none;
}

.tarjeta h4{
	margin-top: .3em;
	margin-bottom: .3em;
    text-align: center;
}

.tarjeta a:hover{
	background: hsl(0, 0%, 15%);
    color: red;
}

.tarjeta-content a{
	margin-top: .3em;
	margin-bottom: .3em;
    transition: 0.8s;
}

.tarjeta-content p{
	font-size: 75%;
}

figure{
	margin: 0;
}

.thumbnail{
	display: block;
	border:0;
	width: 100%;
	height: auto;
}

figure{
	margin: 0;
}

.footer{
    flex: 0 0 auto;
    background: hsl(0, 0%, 15%);
    padding: 0;
}

.footer h4{
    margin-top: .3em;
	margin-bottom: .3em;
}

.footer a{
    color: #fff;
    text-decoration: none;
}

/******DOCUMENTOS******/
.docuflex-container{
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    background: black;
    width: 100%;
}

.docuflex-container .descripcion{
    width: 65%;
}

.docuflex-container .imagen{
    width: 30%;
}

.docuflex-container .descripcion{
    font-size: 85%;
}

.docuflex-container a{
    color: white;
	text-decoration: none;
    transition: 0.8s;
}

.docuflex-container a:hover{
    background: hsl(0, 0%, 25%);
    color: red;
}

/******RESPONSIVE PARA MOVIL******/
@media (max-width: 700px) {
    body{
        padding: 0em 1em;
        font-size: 1.3rem;
    }
    .docuflex-container{
        flex-direction: column;
    }
    .leaflet-panel-layers{
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
       
    }
    .legend {
        font-size: 0.8rem;
    }
    #map{
        height: 460px;
    }
    .logo {
        font-size: 1.5rem;
        margin: 0.6rem;
    }
    .conteiner-flex{
        max-width: 700px;
    }
}

